<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio Website Example</title>
    <link rel="icon" type="image/png" href="images/icon.png" />
    <link href="static/portfolio ex.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Main Container -->
    <div class="container">
      <!-- Navigation -->
      <header>
        <a href="">
          <h4 class="logo"></h4>
        </a>
        <nav>
          <ul>
            <li><a href="" target="_self">HOME</a></li>
            <li>
              <a href="" target="_self">ABOUT ME</a>
            </li>
            <li><a href=""target="_self">CONTACT</a></li>
          </ul>
        </nav>
      </header>
      <!-- Hero Section -->
      <section class="hero" id="hero">
        <div class="hero_container" id="hero_container">
          <div
            class="content_texts"
            id="content text"
            style="position: relative"
          >
            <h2 class="hero_header">
              WELCOME TO<span class="light"> HELLO WORLD</span>
            </h2>
            <p class="tagline">Where hello world</p>
            <div style="text-align: center;">
            <img src="static/download.jpg" alt="myProfileImage">
              </div>
          </div>
        </div>
      </section>
      <!-- About Section -->

      <!-- Stats Gallery Section -->
      <div class="gallery">
        <div class="thumbnail">
          <h1 class="stats">_</h1>
          <h4>Projects</h4>
        </div>
        <div class="thumbnail">
          <h1 class="stats">_</h1>
          <h4>CERTIFICATIONS</h4>
        </div>
        <div class="thumbnail">
          <h1 class="stats">_</h1>
          <h4>YEARS</h4>
          <p>
          </p>
        </div>
        <div class="thumbnail">
          <h1 class="stats">_</h1>
          <h4>Organizations</h4>
        </div>
      </div>
      <!-- Parallax Section -->

      <!-- More Info Section -->
      <footer>
        <article class="footer_column">
          <h3>Short Summary</h3>
          <p>
            <strong
              >The FitnessGram™ Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line, and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark, get ready, start.</strong
            >
          </p>
        </article>
        <article class="footer_column">
          <h3>more stuff</h3>
          <p>
            <strong>
The FitnessGram™ Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line, and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark, get ready, start.            </strong>
          </p>
        </article>
      </footer>
      <!-- Footer Section -->
      <section class="footer_banner" id="contact">
        <h2 class="hidden">Footer Banner Section</h2>
        <p class="hero_header"><strong>Want To Keep In Touch?</strong></p>
        <div class="button" onclick="window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ','_blank','resizeable=yes')">
          touch me
        </div>
      </section>
      <!-- Copyrights Section -->
      <div class="copyright">&copy;<strong>Portfolio Example</strong></div>
    </div>
    <!-- Main Container Ends -->
  </body>
</html>
